<header id="header"></header>
<div id="banner"></div>
<div id="content">
  <div class="wrapper">
    <ul class="list-item clear">
      <li class="active"><a href="#">工业外观设计师</a></li>
      <li><a href="#">产品结构设计师</a></li>
      <li><a href="#">平面设计优化师</a></li>
    </ul>
    <div class="demand">
      <div class="demand-left">
        <p>应聘要求</p>
        <dl>
          <dd>
            <b>职位名称：</b>
            <span>工业设计外观研发师</span>
          </dd>
          <dd>
            <b>职位类型：</b>
            <span>全职</span>
          </dd>
          <dd>
            <b>工作经验：</b>
            <span>不要求</span>
          </dd>
          <dd>
            <b>学历要求：</b>
            <span>不要求</span>
          </dd>
          <dd>
            <b>招聘人数：</b>
            <span>5名</span>
          </dd>
        </dl>
        <p><b>职位描述</b></p>
        <dl>
          <dt><b>岗位职责</b></dt>
          <dd>1、原有及其产品外观改进及新产品外观设计；</dd>
          <dd>2、配合部门同事进行包装、手册、界面等平面方面的设计；</dd>
          <dd>3、机器附件设计及小批量试产跟踪；</dd>
          <dd>4、新材料及样品找寻。</dd>
        </dl>
        <dl>
          <dt><b>招聘要求</b></dt>
          <dt><b>岗位要求：</b></dt>
          <dd>1.北京地区工作人员，有三年以上相关经验；</dd>
          <dd>2.手绘能力强，能熟练使用各种2d及3d设计软件来制作效果图。</dd>
          <dd>3.对产品设计有浓厚兴趣切独特创意；</dd>
          <dd>4.良好的沟通能力及团队合作精神，态度端正。面谈需带相关作品集（打印或电子版）。</dd>
          <dd>5.精通工艺，所设计需要和现实工艺有良好结合。</dd>
        </dl>
        <dl>
          <dd>联系人：洪先生</dd>
          <dd>联系电话：010-82052756</dd>
          <dd>电子邮件：ganganjia@126.com</dd>
        </dl>
      </div>
      <div class="demand-right">
        <ul>
          <li>
            <b>1</b>
            <div>将简历及作品发送至公司邮箱，我们会认真评估您的作品，并在3-5个工作日内给您邮件答复。</div>
          </li>
          <li>
            <b>2</b>
            <div>若简历和作品符合我们的基本要求，我们会电话通知您参加公司面试及相关事宜。</div>
          </li>
          <li>
            <b>3</b>
            <div>面试--3个工作日内通知您面试结果。</div>
          </li>
          <li>
            <b>4</b>
            <div>复试。</div>
          </li>
          <li>
            <b>5</b>
            <div>复试后对合适的候选人发送offer及入职需要准备的材料。</div>
          </li>
          <li>
            <b>6</b>
            <div>入职人员与公司签订正式的劳动合同，试用期3-6个月，试用期内对新入职员工进行评定、考核。</div>
          </li>
        </ul>
      </div>
    </div>
    <div class="friendly-link">
      <p>友情链接</p>
      <ul class="clear">
          <li>
              <a href="http://www.baidu.com">百度</a>
          </li>
          <li>
              <a href="http://www.baidu.com">百度</a>
          </li>
          <li>
              <a href="http://www.baidu.com">百度</a>
          </li>
          <li>
              <a href="http://www.baidu.com">百度</a>
          </li>
          <li>
              <a href="http://www.baidu.com">百度</a>
          </li>
          <li>
              <a href="http://www.baidu.com">百度</a>
          </li>
      </ul>
    </div>
  </div>
</div>
<footer id="footer"></footer>