#product-banner {
  width: 100%;
  height: 400px;
  background: url('../../../public-resource/imgs/product-case/banner.jpg') no-repeat scroll center;
}
#main-content .container {
  width: 1200px;
  margin: 0 auto;
}
#main-content .container .icon-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}
#main-content .container .icon-list span {
  display: inline-block;
  width: 50px;
  white-space: nowrap;
}
#main-content .container .icon-list > li:hover span {
  color: #76c0ff;
  border-bottom: 2px solid #76c0ff;
}
#main-content .container .list-item > li {
  width: 300px;
  height: 400px;
  float: left;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
#main-content .container .list-item > li img {
  transition: all 1s ease-in-out;
}
#main-content .container .list-item > li:hover img {
  transform: scale(1.1);
}
#main-content .container .list-item > li:nth-child(4),
#main-content .container .list-item > li:nth-child(8),
#main-content .container .list-item > li:nth-child(12),
#main-content .container .list-item > li:nth-child(16) {
  border-right: none;
}
#main-content .container .list-item > li > div {
  width: 100%;
  overflow: hidden;
}
#main-content .container .list-item > li > p {
  padding-left: 10px;
  margin: 0;
}
#main-content .container .list-item > li > a {
  display: block;
  width: 150px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  margin: 30px 10px 30px 140px;
  color: #dd5858;
  font-size: 14px;
  border-radius: 15px;
  border: 1px solid #dd5858;
}
#main-content .container .list-item > li > a:hover {
  color: #fff;
  background: #dd5858;
}
#main-content .container .list-item + div {
  width: 800px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  margin: 20px auto;
  border: 1px solid #f00;
}
#main-content .container .friendly-link {
  width: 1200px;
  margin: 0 auto;
  text-align: left;
  padding: 50px 0;
}
#main-content .container .friendly-link p {
  font-size: 18px;
}
#main-content .container .friendly-link li {
  float: left;
  width: 180px;
}
#main-content .container .friendly-link li a {
  font-size: 14px;
}
#footer .contact-us p {
  margin: 50px 0;
}
#footer form input:last-child {
  margin-top: 42px;
}
