<div id="banner"></div>
<div id="container">
  <div class="wrapper">
    <div class="address">
      <div class="pull-right">
        <img src="<%= require('../../../public-resource/imgs/contact-us/map.jpg') %>" alt="">
      </div>
      <dl class="addressDesc">
        <dt>北京总部</dt>
        <dd>
          <dl>
            <dd><b>地址：</b><span>北京市长安街朝阳区国贸SOHO(现代园区)10层-设计研发部</span></dd>
            <dd><b>高级质量监控分部：</b><span>北京市西城区新街口外大街28号工业设计产业基地DRC226室</span></dd>
            <dd><b>设计和生产分部：</b><span>深圳市宝安区生产加工中心</span></dd>
          </dl>
        </dd>
        <dd>
          <dl>
            <dd><b>24H热线电话：</b>400-0900798</dd>
            <dd><b>北京总部电话：</b>010-82055505</dd>
          </dl>
        </dd>
        <dd><b>邮编：</b>100020</dd>
        <dd><b>邮箱：</b>ganganjia@126.com</dd>
      </dl>
    </div>
    <div class="formArea">
      <p>请填写您的项目信心，我们会及时与您取得联系</p>
      <form action="" method="" enctype="">
          <input class="pull-right" type="text" name="" id="" placeholder="您的电话" onfocus="this.placeholder=''" onblur="this.placeholder='您的电话'">
          <input type="text" name="" id="" placeholder="您的姓名" onfocus="this.placeholder=''"  onblur="this.placeholder='您的姓名'">
        <div contenteditable="true" data-text="简单描述您的项目"></div>
        <p>
          <input type="submit" value="提交">
        </p>
      </form>
    </div>
  </div>
</div>