<header id="header">
    <div>
        <!-- Contact -->
        <div class="contact">
            <div>
                <div><img src="<%= require('../../../public-resource/imgs/tel-nav.png') %>" alt=""></div>
                <div>
                    <p>010-82055505</p>
                    <p>400-0900-798</p>
                </div>
            </div>
            <ul class="clear">
                <li><a href="#">北京(设计总部)</a></li>
                <li><a href="#">上海</a></li>
                <li><a href="#">杭州</a></li>
                <li><a href="#">东莞</a></li>
            </ul>
        </div>
        <!-- logo -->
        <div class="logo vertical-middle">
            <h1>
                <a href="#">
                    <img src="<%= require('../../../public-resource/imgs/logo.jpg') %>" alt="">
                </a>
            </h1>
        </div>
        <!-- Slogan -->
        <div class="slogan vertical-middle">
            <img src="<%= require('../../../public-resource/imgs/slogan.png') %>" alt="">
        </div>
    </div>
    <!-- 导航 -->
    <nav id="nav">
        <ul>
            <li><a href="../../index/index/page.html">首页</a></li>
            <li>
                <a href="../../company-desc/index/page.html">公司简介</a>
                <ul>
                    <li><a href="#">公司介绍</a></li>
                    <li><a href="#">公司理念</a></li>
                    <li><a href="#">公司荣誉</a></li>
                </ul>
            </li>
            <li><a href="../../company-scope/index/page.html">经营范围</a></li>
            <li><a href="../../branch-company/index/page.html">旗下分公司</a></li>
            <li>
                <a href="../../product-case/index/page.html">产品案例</a>
                <ul>
                    <li><a href="#">工业设备</a></li>
                    <li><a href="#">医疗设备</a></li>
                    <li><a href="#">电子家电</a></li>
                    <li><a href="#">手持设备</a></li>
                    <li><a href="#">仪器仪表</a></li>
                    <li><a href="#">工控机柜</a></li>
                    <li><a href="#">模具制作</a></li>
                    <li><a href="#">企业VI，UI</a></li>
                </ul>
            </li>
            <li>
                <a href="../../company-news/index/page.html">新闻动态</a>
                <ul>
                    <li><a href="#">公司新闻</a></li>
                    <li><a href="#">行业感悟</a></li>
                </ul>
            </li>
            <li>
                <a href="../../king-design/index/page.html">设计国度</a>
                <ul>
                    <li><a href="#">国际篇</a></li>
                    <li><a href="#">国内篇</a></li>
                    <li><a href="#">产品篇</a></li>
                    <li><a href="#">活动大赛</a></li>
                </ul>
            </li>
            <li>
                <a href="../../wanted/index/page.html">人才招聘</a>
                <ul>
                    <li><a href="#">外观设计师</a></li>
                    <li><a href="#">机构设计师</a></li>
                    <li><a href="#">平面设计师</a></li>
                </ul>
            </li>
            <li><a href="../../contact-us/index/page.html">联系我们</a></li>
            <li><a href="../../feedback/index/page.html">留言与反馈</a></li>
        </ul>
    </nav>
</header>