<header id="header"></header>
<div id="banner"></div>
<div id="content">
  <div class="wrapper">
    <div class="scatter">
      <div class="branch">
          <p>北京(设计总部)</p>
          <dl>
              <dd>上海(分公司)</dd>
              <dd>杭州(分公司)</dd>
              <dd>东莞(分公司)</dd>
              <dd>深圳(生产加工中心)</dd>
          </dl>
        <svg id="branch" width="215px" height="135px" version="1.1"
           xmlns="http://www.w3.org/2000/svg"
           xmlns:xlink="http://www.w3.org/1999/xlink">
           <g stroke="#000" stroke-width="1">
              <line x1="0" y1="135" x2="0" y2="63"/>
              <line x1="0" y1="63" x2="200" y2="63"/>
              <line x1="200" y1="63" x2="200" y2="135"/>
              <line x1="67" y1="63" x2="67" y2="135"/>
              <line x1="132" y1="63" x2="132" y2="135"/>
              <line x1="101" y1="0" x2="101" y2="63"/>
           </g>
        </svg>
      </div>
    </div>
    <div class="friendly-link">
          <p>友情链接</p>
          <ul class="clear">
              <li>
                  <a href="http://www.baidu.com">百度</a>
              </li>
              <li>
                  <a href="http://www.baidu.com">百度</a>
              </li>
              <li>
                  <a href="http://www.baidu.com">百度</a>
              </li>
              <li>
                  <a href="http://www.baidu.com">百度</a>
              </li>
              <li>
                  <a href="http://www.baidu.com">百度</a>
              </li>
              <li>
                  <a href="http://www.baidu.com">百度</a>
              </li>
              <li>
                  <a href="http://www.baidu.com">百度</a>
              </li>
          </ul>
        </div>
  </div>
</div>
<footer id="footer"></footer>