dt,
dd,
dl,
ul,
li {
  margin: 0;
  padding: 0;
}
#banner {
  width: 100%;
  height: 400px;
  background: url("../../../public-resource/imgs/company-news/banner.jpg") no-repeat scroll center;
}
#content .wrapper .list-item {
  margin: 50px auto 30px;
  display: flex;
  justify-content: center;
}
#content .wrapper .list-item .active {
  background: #76c0ff;
}
#content .wrapper .list-item .active a {
  color: #fff;
}
#content .wrapper .list-item li {
  width: 200px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 15px;
  border: 1px solid #76c0ff;
}
#content .wrapper .list-item li:last-of-type {
  margin-left: 50px;
}
#content .wrapper .list-item li:hover {
  background: #76c0ff;
}
#content .wrapper .list-item li:hover a {
  color: #fff;
}
#content .wrapper .news .list-news {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: -10px;
}
#content .wrapper .news .list-news li {
  width: 232px;
  height: 256px;
  border: 1px solid #CCCCCC;
  padding: 20px 9px 0 9px;
  margin-bottom: 10px;
}
#content .wrapper .news .list-news li dl dt {
  font-weight: bold;
  color: #333;
  font-size: 16px;
  margin: 10px 0;
}
#content .wrapper .news .list-news li dl dd {
  font-size: 14px;
  color: #999;
  margin: 5px 0;
}
#content .wrapper .news .list-news li dl dd:last-child {
  text-align: right;
}
#content .wrapper .news .list-news li dl dd:last-child a {
  color: #76C0FF;
}
#content .wrapper .news .list-news li dl dd:first-of-type {
  height: 60px;
  overflow: hidden;
}
#content .wrapper .news .pagination {
  margin: 30px 0 50px;
  text-align: center;
}
#content .wrapper .friendly-link {
  width: 100%;
  margin: 50px auto;
  text-align: left;
}
#content .wrapper .friendly-link p {
  font-size: 18px;
}
#content .wrapper .friendly-link > ul {
  display: flex;
  justify-content: space-between;
}
#content .wrapper .friendly-link > ul li {
  width: 180px;
}
#content .wrapper .friendly-link > ul li a {
  font-size: 14px;
}
#footer .contact-us p {
  margin: 50px 0;
}
#footer form input:last-child {
  margin-top: 42px;
}
